.eslintrc.js
node_modules/
library/
temp/

creator.d.ts
wechatgame.d.ts
huaweigame.d.ts
jsb.d.ts
polyfill.d.ts

build-tools/*
tools/*
build/*
build-templates/*
preview-templates/*

engine/**/*.js
engine/**/*.ts
assets/ace/lib/*
assets/ace/logic/Singleton.ts

assets/script/comp/ListView.ts
assets/script/comp/ListViewItem.ts
assets/script/comp/ChatList.ts
assets/script/comp/ChatListItem.ts
assets/script/global/ListViewExtension.ts

assets/i18n/data/zhs/zhsResMap.ts
assets/i18n/data/zhs/zhsServer.ts
assets/i18n/data/zhs/zhsUI.ts
assets/i18n/data/en/enResMap.ts
assets/i18n/data/en/enServer.ts
assets/i18n/data/en/enUI.ts
assets/i18n/data/en/enUUIDMap.ts
assets/i18n/data/zht/zhtServer.ts
assets/i18n/data/zht/zhtUI.ts

assets/script/utils/ArrayUtils.ts
